html, body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.fonttrebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00241B;
}


.fontjosefin {
  font-family: "Josefin Sans", sans-serif;
  color: #00241B;
}


/* nav box  */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: hd;
    background-color: #239251;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 1rem;
    margin: 10px;
}

.icon{
    width: 100px;
    margin: 10px;
}

.navlink {
    color: blue;
}

.navlink:hover {
    background-color: #165e34;
    color: rgb(142, 142, 255);
}


/* index sida  */
#indexcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 8% 1fr;
    grid-template-areas: 
    "hd"
    "mn"
}

#indexmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: mn;
    background-color: #2ecc71;
}

#welcome {
    font-size: 9rem;
}

#welcometext {
    font-size: 2rem;
}


/* About sida */
#aboutcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 8% 1fr;
    grid-template-areas: 
    "hd hd hd"
    "asl mn asr"
}

#aboutmain {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-area: mn;
    background-color: #2ecc71;
}

#asideleft {
    display: flex;
    flex-direction: column;
    grid-area: asl;
    background-color: #a4ffca;
}

#asideright {
    display: flex;
    flex-direction: column;
    grid-area: asr;
}

.abouttext {
    align-self: center;
}


/*Annons sida*/
#annonscontainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 8% 1fr;
    grid-template-areas: 
    "hd"
    "main";
}

#annonsheader {
    grid-area: hd;
}

#annonsmain {
    display: flex;
    grid-area: main;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #2ecc71;
}

#sec1 {
    background-color: #a4ffca;
}
#sec2 {
    background-color: #a4ffca;
}
#sec3 {
    background-color: #a4ffca;
}
#sec4 {
    background-color: #a4ffca;
}
#sec5 {
    background-color: #a4ffca;
}
#sec6 {
    background-color: #a4ffca;
}
#sec7 {
    background-color: #a4ffca;
}
#sec8 {
    background-color: #a4ffca;
}

.size {
    flex-basis: 200px;
    height: 300px;
    margin: 60px;
    text-align: center;
}