#indexcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 8% 1fr;
    grid-template-areas: 
    "hd"
    "mn"
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: hd;
    background-color: #239251;
}

#indexmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: mn;
    background-color: #2ecc71;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headertext{
    font-size: 24px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#welcome {
    font-size: 135px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#welcometext {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navlink {
    color: blue;
}

.navlink:hover {
    background-color: #165e34;
    color: rgb(142, 142, 255);
}